.con {
  background-size: cover;
  background-color: wheat;
  height: 100vh;
  padding: 5px;
}
.thumbnails {
  list-style-type: none;

  display: flex;
}
.con3 {
  list-style-type: none;
}
.head {
  color: black;
  font-weight: bold;
  font-family: Bree Serif;
}
.pa {
  color: black;
  font-weight: bold;
  font-family: roboto;
}
